# Core
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0

# Medical Imaging
monai==1.5.0
nibabel==5.3.2
SimpleITK==2.5.2

# Data & Utils
numpy==2.2.0
scipy==1.16.1
pandas==2.3.1
scikit-image==0.25.2
scikit-learn==1.7.1

# Augmentation
albumentations==2.0.8
batchgenerators==0.25.1

# Visualization / Logging
matplotlib==3.10.3
tqdm==4.67.1

# Model / DL utilities
einops==0.8.1
timm==1.0.15

# Transformers
transformers==4.50.0

# Config / misc
PyYAML==6.0.2
